<!--The content below is only a placeholder and can be replaced.-->
<img src="assets/logo.jpg" alt="LogoImageError">
<hr size="2px" width="100%">

<div class="row">
  <div class="column" >
    <nav>
      <li><a routerLink="/basic">Basic</a></li>
      <li><a routerLink="/user-profile">User Profile</a></li>
      <li><a routerLink="/data-import">Data Import</a></li>
      <li><a routerLink="/data-manipulation">Data Manipulation</a></li>
      <li><a routerLink="/data-visualization">Data Visualization</a></li>
      <li><a routerLink="/statistic-analysis">Statistic Analysis</a></li>
      <li><a routerLink="/publications">Publications</a></li>
    </nav>
  </div>

  <div class="column">
    <router-outlet></router-outlet>
  </div>

</div>







